<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zp.androidx.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/base_ic_launcher"
        android:label="@string/test_module_name"
        android:supportsRtl="true"
        android:name=".TestApp"
        android:theme="@style/base_AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>